<header class="flex gap-x-3 lg:gap-x-5 justify-center items-center my-10">
    <img src="imgs/chat-3d.png" class="size-6 md:size-9 lg:size-14" alt="logo AskMe">
    <h1 class="text-3xl md:text-5xl lg:text-7xl font-orbitron font-semibold text-transparent bg-clip-text bg-gradient-to-tr from-slate-300 via-slate-100 to-fuchsia-600"> AskMe AI</h1>
</header>
<main class="flex flex-col justify-center items-center w-full lg:w-[1200px] mx-auto pb-16">
    <chat [messages]="messages" [isThinking]="isThinking"/>
    <input-text
        (newMessage)="handleNewMessage($event)"
        [showPlaceholder]="messages.length === 0"
    />
</main>
<footer class="absolute bottom-0 w-full p-4">
    <footer-page />
</footer>